
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cinzel', sans-serif;
    color: #fff;
}

body{
    overflow: auto; /* or remove overflow completely */
    position: relative; /* or remove fixed positioning */
    height: 100vh;
    margin: 0;
    width: 100%;
    background: #121212;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.navbar{
    width: 100%;
    height: 72px;
    background-color: #00000060;
    position: fixed;
    z-index: 1000;
}

.main{
    width: 100%;
    
}

.back-container{
    width: 116px;
    height: 72px;
    padding-left: 24px;
}

.back-button{
    position: relative;
    top: 12;
    left: 20;
    display: inline-block;
    color: #2e2c2c;
    background-color: #0a0a0a00;
    border: 3px solid #15292b06;
    width: 68px;
    height: 54px;
    cursor: pointer;
    border-radius: 2px;
    cursor: pointer;
    padding-right: 3px;
    font-size: 36px;
    color: #f3f3f3;
}

.back-button:hover{
    background-color: #15292bd2;
    color: #ffe5e5;
}

.left-container{
    padding-top: 2em;
    display: flex;
    float: left;
    width: 50%;
    height: 100vh;
}

.pic-container{

    justify-content: center;
    align-items: center;
    text-align:center;
    max-width: 500px;
    width: 600px;
    height: 60vh;
    background-color:#0e0d0d;
    margin: 0 2em;
    border: 1px dashed #0b069d;
    border-radius: 2px;
}

.pic-container img{
    text-align: center;
    align-items: center;
    text-align:center;
    margin: 2em auto 0;
    width: 280px;
    height: 380px;
}

.title{
    text-align: left;
    padding: 1em 0 0 2em;
}

.title p{
    color: #ffffff78;
}

button{
    margin-top: 1em;
    width: 120px;
    height: 44px;
    text-align: center;
    background-color: #00000060;
    border: 1px solid #0b069d;
}

button:hover{
    background-color: #2e2c2c;
}

.right-container{
    display: flex;
    float: left;
    width: 50%;
    height: 100vh;
}

@media(max-width: 600px){
    .left-container, .right-container{
        width: 100%;
    }body{
        height: 100vh;
    }.pic-container{
        margin: 1em;
    }
}

@media(max-width: 750px){
    .pic-container img{
        width: 280px;
    }
}