*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cinzel', sans-serif;

}

body{
    overflow: auto; /* or remove overflow completely */
    position: relative; /* or remove fixed positioning */
    height: 200vh;
    margin: 0;
    width: 100%;
    background: #121212;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}
/* Full loading screen */
#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #080505cc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Spinner styles */
  .spinner {
    border-radius: 12px ;
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #693434; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  /* Keyframes for spinner animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .main{
    width: 100%;
    
}

.back-container{
    width: 116px;
    height: 72px;
    padding-left: 24px;
}

.back-button{
    position: relative;
    top: 12;
    left: 20;
    display: inline-block;
    color: #2e2c2c;
    background-color: #0a0a0a00;
    border: 3px solid #15292b06;
    width: 68px;
    height: 54px;
    cursor: pointer;
    border-radius: 2px;
    cursor: pointer;
    padding-right: 3px;
    font-size: 36px;
    color: #f3f3f3;
}

.back-button:hover{
    background-color: #15292bd2;
    color: #ffe5e5;
}

.main-container{
    width: 100%;
    display: flex;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    gap: 12px 10px;
    padding-top: 86px;
}

.pic-card{
    width: 260px;
    display: flex;
    height: 460px;
    flex-direction: column;
    background-color: #3b1b1b;
    border: 2px solid #131212;
    box-shadow: 0 8px 20px #000000f8;
    margin: 4px;
    text-align: left;
    padding: 4px;
    overflow: hidden;  
    cursor: pointer;
    
}

.pic-card:hover{
    background-color: #3b1b1ba1;
    transform: translate(-4px, 2px);
}

.image-item{
    display: block; /* removes extra spacing */
    width: 98%;
    height: 380px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 4px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.caption{
    padding-top: 8px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.caption h1{
    color: #ffffff;
    font-size: 16px;
}

.color-text{
    background-image: radial-gradient(circle, #ddc9c3, #f3501f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a{
    text-decoration: none;
}





@media (max-width: 650px){
    .pic-card{
        width:100%;
        height: 480px;        
    }body{
        height: 800vh;
    }.caption h1{
        font-size: 20px;
    }.image-item{
        width: 100%;
        height: 440px;
    }.pictures{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}



@media (max-width: 1180px) {
    .pictures{
        width: 100%;
    } 
}

@media (max-width: 1150px){
    .pictures{
        width: 100%
}}

@media (max-width: 880px) {
    .pictures{
        width: 100%;
    } 
}

@media (max-width: 848px) {
    .pictures{
        width: 100%;
    } 
}

@media (max-width: 760px) {
    .pictures{
        width: 100%;
    } 
}

@media(max-width: 720px) {
    .pic-card{
        width:60%;
        height: 600px;        
    }body{
        height: 800vh;
    }.caption h1{
        font-size: 22px;
    }.image-item{
        width: 100%;
        height: 520px;
    }.pictures{
        width: 100%;
    }
}

/*----------Custom scrollbar styles----------*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #f3501f;
    border:0.5px solid #f74c18;
    box-shadow: 0 2px 10px 2px #000000be;
}

::-webkit-scrollbar-thumb:hover {
    background: #cf2121cb;
    border: 0.5px solid #312d2d50;
    box-shadow: 0 2px 10px 2px #000000be;
}
